/*RESET*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*COMMON*/
.container{
    width: 70%;
    margin: auto;
}

.clearfix::after{
    content: "";
    display: table;
    clear: both;
}

.col{
    float: left;
    background-color: #abcfe7;
}

/*HEADER*/
header{
    width: 100%;
}

.header-top{
    height: 150px;
    width: 100%;
    background-color: #e579e6;
}

.header-bottom{
    height: 400px;
    width: 100%;
    margin: 20px 0;
    background-color: #e1d67a;
}

/*MAIN*/
main{
    width: 100%;
    background-color: #0088fa;
    margin: 10px 0;
}

.main-top{
    height: 100px;
    width: 100%;
    background-color: #abcfe7;
}

/* Columns */
.col-left, .col-right{
    width: 23%;
    height: 500px;
    margin: 20px 0;
}

.col-center{
    width: 50%;
    height: 500px;
    margin: 20px 2%;
}

/*FOOTER*/
.footer-section{
    height: 50px;
    width: 100%;
    background-color: #8801fe;
}